.my-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(244, 244, 252, 1);
  opacity: 1;
  margin: 0 5px;
}
.my-swiper .swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: -40px;
  display: flex;
  flex-direction: row-reverse;
}
.my-swiper .swiper-pagination-bullet-active {
  background-color: rgba(117, 117, 226, 1);
  opacity: 1;
}
